@import '../../../src//responsive.scss';

.program1 {
    width: 550px;
    height: 550px;
    
    @include respond-to(mobile-small) {
        width: 100%;
    }
}
.msg-btn {
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    background-color: #c81f67 ;
    border: none;
    font-weight: 600;
    &:hover {
        color: #c81f67 ;
        background-color: white;
        border: 1px solid #c81f67 ;
      }
    &:focus {
        color: #c81f67;
        background-color: white;
        border: 1px solid #c81f67;
    }
}
.program {
    display: flex;
    margin: 3% 6%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @include respond-to(mobile-small) {
        justify-content: start;
    }
}
.program_info {
    width: 40%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    @include respond-to(mobile-small) {
        margin-left: 0%;
        text-align: justify;
        width: 100%;
    }
    h6 {
        color: gray;
        font-weight: 600;
        @include respond-to(mobile-small) {
            margin-top: 4%;
        }
    }
    p {
        color: gray;
    }
}
.img_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 4%;
}
.program2, .program3, .program4 {
    width: 100%;
}