.reviews {
    margin: 0px auto;
    height: auto;
    width: 17em;
    text-align: center;
    align-items: center;
    padding: 45px 32px 30px;
}
.review_img {
    width: 100%;

    img {
        width: 184px;
        height: 400px;    
    }
}