.chatbot-icon {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #854a69;
}

.chatbot-container {
  position: fixed;
  bottom: 135px;
  right: 16px;
  width: 276px;
  height: 432px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.chatbot-input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #eee;
}

.chatbot-input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.chatbot-send-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #854a69!important;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}